.componentBlock {
  padding: 16px;
  margin-bottom: 16px;
}

.componentBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;

  color: #fff;
}

.componentBlockHeader h2 {
  font-size: 18px;
  font-weight: 600;
}

.componentBlockHeader div {
  font-size: 14px;
  color: #4da3ff;
}

.componentBlockContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}