.secondaryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.secondaryTitle h2 {
  color: #D4D4D4;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}