.secondaryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.secondaryTitle h2 {
  color: #ffffff;
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.08em;
}